[core]
	editor = nvim
[user]
	name = Amir Aref
	email = amiraref808@gmail.com
[includeIf "gitdir:~/Activity/Magical/"]
  path = ~/.gitconfig-work

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = master
[diff]
	tool = nvim
[diff "tool"]
	cmd = nvim -d $LOCAL $REMOTE
[difftool "nvim"]
	cmd = nvim -d $LOCAL $REMOTE
[merge]
      tool = vscode
[mergetool "vscode"]
      cmd = code --wait $MERGED
[alias]
	st = status
	lgf = log --graph --decorate
	lg = log --graph --decorate --oneline
	sw = switch
	ch = checkout
    pom = push origin master
    # gitlab
    mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -

[difftool]
	prompt = false
[safe]
	directory = *
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
#[http]
    #proxy = 192.168.1.2:8088
[push]
	autoSetupRemote = true
[credential]
	helper = store
	useHttpPath = true
[http]
	postBuffer = 524288000
