[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "/home/amir/.tmux/plugins/tpm"]
	path = /home/amir/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
