[core]
	editor = nvim
[user]
	name = Amir Aref
	email = amiraref808@gmail.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = master
[diff]
	tool = vscode
[diff "tool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
      tool = vscode
[mergetool "vscode"]
      cmd = code --wait $MERGED
[alias]
	st = status
	lgf = log --graph --decorate
	lg = log --graph --decorate --oneline
	sw = switch
	ch = checkout
	pom = push origin master
[difftool]
	prompt = false
[safe]
	directory = /mnt/Main/Programming/python/Telegram bots/heiqiu/Content-Manager
	directory = /mnt/Main/Programming/python/Telegram bots/heiqiu/Content-Manager
	directory = /mnt/Main/Programming/python/Telegram bots/heiqiu/Post_Sender
	directory = /mnt/Main/Programming
	directory = *
